body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #18837e;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  
}

.sidebar img {
  width: 100px;
  margin-bottom: 30px;
  background-color: #f2f2f2;
}

.sidebar a {
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  margin: 15px 0;
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

.sidebar a.active,
.sidebar a:hover {
  color: #db3069;
}

.main {
  margin-left: 240px;
  padding: 30px;
}
/* Hero Section */
.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #f2f2f2;
  
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 16px;
  color:#18837e;
}


.hero h2 {
  font-size: 36px;
  margin-bottom: 16px;
  color:#18837e;
}

.hero p {
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto 30px;
  line-height: 1.6;
  color: #18837e;
}


/* Features */
.features {
  display: flex;
  gap: 20px;
  padding: 90px 40px;
  justify-content: center;
}

.feature-card {
  background-color: #f2f2f2;
  padding: 25px;
  width: 280px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.feature-card h3 {
  margin-bottom: 10px;
  color: #18837e;
}

.feature-card p {
  font-size: 14px;
  line-height: 1.5;
  color: #18837e;
}

/* Mobile layout*/
@media (max-width: 768px) {

  /* Base text adjustments */
  body {
    font-size: 15px;
    overflow-x: hidden;   /* prevent horizontal scroll */
  }

  h1 {
    font-size: 28px;
    text-align: center;
  }

  p {
    font-size: 16px;
    text-align: center;
  }

  /* Reset main content offset (IMPORTANT) */
  .main {
    margin-left: 0;
    padding: 16px;
  }
}
  /* Cards container */
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;   /* centers cards */
    width: 100%;
  }

  /* Individual card */
  .card {
    width: 100%;
    max-width: 420px;      /* prevents overflow */
    margin: 0 auto 20px auto;
    box-sizing: border-box;
  }

@media (max-width: 768px) {

  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sidebar img {
    display: none;
  }

  .sidebar a {
    margin: 10px;
    font-size: 14px;
  }

  .main {
    margin-left: 0;
    padding: 15px;
  }
}

.tableau-container {
  width: 100%;
  height: 100vh;
}

.tableau-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}


/* Footer */
.footer {
  text-align: center;
  padding: 16px;
  background-color: #f2f2f2;
  color: #18837e;
  font-size: 13px;
}
